body
{
   margin: 0px 20%;
   background-color: #eaeae0;
}

div#cabecera
{
   text-align: center;
   /*background: rgb(2,0,36);
   background: linear-gradient(168deg, rgba(2,0,36,1) 0%, rgba(68,117,255,1) 0%, rgba(20,182,215,1) 96%);
   -webkit-box-shadow: 0px -3px 17px -4px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px -3px 17px -4px rgba(0,0,0,0.75);*/
   box-shadow: 0px -3px 17px -4px rgba(0,0,0,0.75);
   border-radius: 0px 0px 10px 10px;
   -moz-border-radius: 0px 0px 10px 10px;
   -webkit-border-radius: 0px 0px 10px 10px;
   background-image:url("../img/header/cabecera.png");
   background-size:100% 100%;
   border: 0px solid #000000;
}

div#cabecera>h1
{
   font-size: 4em;
   text-align: center;
   color: white;
   margin: 0px;
   padding: 54px;
   font-family: 'Bai Jamjuree';
}

li
{
   list-style: none;
}

a
{
   text-decoration: none;
   color: rgba(68,117,255,1);

}

div#contenido
{
   background-color: white;
   height: auto;
   padding-bottom: 45px;
   -webkit-box-shadow: 0px 7px 17px -4px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 7px 17px -4px rgba(0,0,0,0.75);
   box-shadow: 0px 7px 17px -4px rgba(0,0,0,0.75);
   border-radius: 10px 10px 10px 10px;
   -moz-border-radius: 10px 10px 10px 10px;
   -webkit-border-radius: 10px 10px 10px 10px;
   border: 0px solid #000000;
}

div#contenido>h2
{
   margin: 0px;
   padding: 30px;
   font-size: 2.5em;
   font-family: 'Barlow Semi Condensed';
   color: rgba(68,117,255,1);
}

div#contenido>h3
{
   margin: 0px;
   padding: 45px;
   margin-left: 15px;
   font-size: 2em;
   font-family: 'Barlow Semi Condensed';
   color: rgba(68,117,255,1);
}

div#contenido>ul
{
   margin: 0px;
   padding: 45px;
}

div#contenido>ul>li
{
   text-align: left;
   font-family: 'Barlow Semi Condensed';
   font-size: 2em;
}

div#pie{
   font-size: 0.8em;
   text-align: center;
   background: rgb(38,177,76);
   /*background: linear-gradient(168deg, rgba(38,177,76,1) 0%, rgba(68,117,255,1) 0%, rgba(68,117,255,1) 96%);*/
   /*-webkit-box-shadow: 0px -3px 17px -4px rgba(0,0,0,0.75);*/
   /*-moz-box-shadow: 0px -3px 17px -4px rgba(0,0,0,0.75);*/
   box-shadow: 0px -3px 17px -4px rgba(0,0,0,0.75);
   border-radius: 10px 10px 0px 0px;
   -moz-border-radius: 10px 10px 0px 0px;
   -webkit-border-radius: 10px 10px 0px 0px;
   border: 0px solid #000000;
}

div#pie>h1
{
   font-size: 1em;
   text-align: left;
   color: white;
   margin: 0px 20px;
   padding: 10px;
   font-family: 'Bai Jamjuree';
}

.texto
{
   font-family: 'Sanchez';
   padding: 0px 45px;
   margin-top: 0px;
   font-size: 1.15em;
   color: #212227;
}

.img_centrada
{
   text-align: center;
   padding: 15px 0px;
}

.video_centrado
{
   text-align: center;
   padding: 15px 0px;
}

a.volver
{
   margin-top: 20px;
   font-size: 1.5em;
   color: rgba(68,117,255,1);
}

.advertencia
{
   color: tomato;
   background-color: wheat;
   margin: 25px;
   padding: 20px;
   border-radius: 10px;
}

.codigo
{
   font-family: 'Sanchez';
   color: teal;
   display: inline-block;
   background-color: rgb(195, 243, 241);
   margin: 10px;
   padding: 20px;
   border-radius: 10px;
   font-size: 1.2em;
   width: fit-content;
   margin-left: 50px;
}

.nota
{
   font-family: 'Sanchez';
   color: teal;
   display: inline-block;
   background-color: rgb(195, 243, 241);
   margin: 30px;
   padding: 20px;
   border-radius: 10px;
   font-size: 1.2em;
   width: fit-content;
   margin-left: 50px;
}

div#contenido>h3
{
   margin: 0px;
   padding: 30px;
   margin-left: 15px;
   font-size: 2em;
   font-family: 'Barlow Semi Condensed';
   color: rgba(68,117,255,1);
}

#pageloader /*Loader*/
{
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center; /* center children content horizontally */
   align-items: center; /* center children content vertically */
   z-index: 10000;
   background: white;
}

.spinner
{
   width: 70px;
   text-align: center;
   opacity: 1;
   transition: opacity .4s;
}

.spinner > div
{
   width: 18px;
   height: 18px;
   background-color: #333;
   border-radius: 100%;
   display: inline-block;
   -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
   animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1
{
   -webkit-animation-delay: -0.32s;
   animation-delay: -0.32s;
}

.spinner .bounce2
{
   -webkit-animation-delay: -0.16s;
   animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay
{
   0%, 80%, 100% { -webkit-transform: scale(0) }
   40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay
{
   0%, 80%, 100%
   {
      -webkit-transform: scale(0);
      transform: scale(0);
   } 40%
   {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
   }
}

#pageloader.dimissloader
{
   opacity: 0;
   visibility: hidden;
   transition: opacity 1s, visibility 0s 1s;
}

.spining
{
   animation: rotation 1s infinite linear;
}

@keyframes rotation
{
   from
   {
      transform: rotate(0deg);
   } to
   {
      transform: rotate(359deg);
   }
}

a.link_s
{
   font-weight: bold;
   letter-spacing: 1px;
   padding: 3px;
   color: rgba(68,117,255,1);
   border-radius: 10px 10px 10px 10px;
   -moz-border-radius: 10px 10px 10px 10px;
   -webkit-border-radius: 10px 10px 10px 10px;
   border: 0px solid #000000;
}

a.link_s:active
{
   color: rgb(9, 56, 185);
}

a.link_s:hover{
  background-color: rgba(68,117,255,1);
  color: white;
}

a.link_c
{
   font-weight: bold;
   letter-spacing: 1px;
   padding: 3px;
   color: rgba(68,117,255,1);
   border-radius: 10px 10px 10px 10px;
   -moz-border-radius: 10px 10px 10px 10px;
   -webkit-border-radius: 10px 10px 10px 10px;
   border: 0px solid #000000;
   text-align: center;
}

a.link_c:active
{
   color: rgb(9, 56, 185);
}

a.link_c:hover{
  background-color: rgba(68,117,255,1);
  color: white;
}